# Node.js
/backend/node_modules/
/backend/logs
/backend/*.log
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# React
/frontend/node_modules/
/frontend/build/
/frontend/.env

# Nginx
/nginx/*.log
/nginx/conf.d/*.conf

# Data folder
/data/

# Miscellaneous
.DS_Store
*.swp